INPUT = ../SSToolkit/
OUTPUT_DIRECTORY = temp
FILE_PATTERNS = *.h

DOCSET_BUNDLE_ID = com.samsoffes.sstoolkit

GENERATE_HTML = NO
GENERATE_LATEX = NO
GENERATE_XML = YES
EXTENSION_MAPPING = YES
PROJECT_NAME = SSToolkit
PROJECT_NUMBER = 0.0.0

WARNINGS = NO
WARN_IF_UNDOCUMENTED = NO
WARN_IF_DOC_ERROR = NO
WARN_NO_PARAMDOC = NO

QUIET = YES
